<!DOCTYPE html>
<html ng-app="letsmeet">
  <head>
    <script src="node_modules/moment/moment.js"></script>
    <script src="node_modules/angular/angular.min.js"></script>
    <script src="ng_modules/letsmeet.js"></script>
    <link rel="stylesheet" href="letsmeet.css">
  </head>

  <body>
    <div>
      <a href="ask" class="button">Login</a>
    </div>
    <br>
    <div ng-controller="TimeBlockController as tbc">
      <form>
        Email 1:<br>
        <input type="text" ng-model="tbc.user1"><br>
        Email 2:<br>
        <input type="text" ng-model="tbc.user2"><br>
        <input type="submit" value="Compare" ng-click="tbc.compare()">
      </form>
      <div>
        <div class="time-block-tile" ng-repeat="timeBlock in tbc.timeBlocks">{{timeBlock}}</div>
      </div>
      <div>
        <p id="errors">{{tbc.errors}}</p>
      </div>
    </div>
  </body>

</html>
